{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="vievport" content="width=device-width" , initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Raleway:800,900|&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/base_style.css'%}">
    <link rel="stylesheet" href="{% static 'main/modal_style.css'%}">
    <link rel="stylesheet" href="{% static 'main/alert_style.css'%}">
    <link rel="stylesheet" href="{% static 'main/home_style.css'%}">
    <link rel="stylesheet" href="{% static 'post/post_style.css'%}">
    <link rel="stylesheet" href="{% static 'main/input_style.css'%}">
    {% block link %}{% endblock %}

    <title>Toster</title>
</head>


<body id="body">
    <div id="comment-modal">
    </div>
    <div class="alert" id="alert">
        <div class="modal-bg">
            <div class="modal-content">
                <div class="info">
                    <p class="title" id="alert-title">Delete post?</p>
                    <p class="disclaimer" id="alert-disclaimer">This action cannot be undone</p>
                </div>
                <div class="buttons">
                    <div class="cancel" id='alert-cancel' clicked=''>Cancel</div>
                    <div class="confirm" id='alert-confirm' clicked=''>Delete</div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-preview">
        <div class="modal-bg">
            <div class="delete-image" id="close-img-modal">
                <div class="x1"></div>
                <div class="x2"></div>
            </div>
            <div class="modal-content">
                <div class="img">

                </div>
            </div>
        </div>
    </div>

    <nav class="nav-left">
        <div class="nav-left2">
            <ul class="links">
                <a href="/">
                    <li>
                        <div>
                            <img src="{% static 'main/images/twitter.png' %}" alt="twitter">
                            <img class="colored" src="{% static 'main/images/twitter_colored.png' %}" alt="twitter">
                            <p>Logo</p>
                        </div>
                    </li>
                </a>
                <a href="/">
                    <li>
                        <div>
                            <img src="{% static 'main/images/home.png' %}" alt="home">
                            <img class="colored" src="{% static 'main/images/home_colored.png' %}" alt="home">
                            <p>Home</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div>
                            <img src="{% static 'main/images/explore.png' %}" alt="explore">
                            <img class="colored" src="{% static 'main/images/explore_colored.png' %}" alt="explore">
                            <p>Explore</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div>
                            <img src="{% static 'main/images/notifications.png' %}" alt="notifications">
                            <img class="colored" src="{% static 'main/images/notifications_colored.png' %}"
                                alt="notifications">
                            <p>Notifications</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div>
                            <img src="{% static 'main/images/messages.png' %}" alt="Messages">
                            <img class="colored" src="{% static 'main/images/messages_colored.png' %}" alt="Messages">
                            <p>Messages</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div>
                            <img src="{% static 'main/images/bookmarks.png' %}" alt="Bookmarks">
                            <img class="colored" src="{% static 'main/images/bookmarks_colored.png' %}" alt="Bookmarks">
                            <p>Bookmarks</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div>
                            <img src="{% static 'main/images/lists.png' %}" alt="Lists">
                            <img class="colored" src="{% static 'main/images/lists_colored.png' %}" alt="Lists">
                            <p>Lists</p>
                        </div>
                    </li>
                </a>
                {% if user.is_authenticated %}
                <a href="{%url 'main:logout' %}">
                    <li>
                        <div>
                            <p>Log Out</p>
                        </div>
                    </li>
                </a>
                {% if user.username == 'admin' %}
                <a href="/admin">
                    <li>
                        <div>
                            <img src="{% static 'main/images/admin.png' %}" alt="Admin">
                            <img class="colored" src="{% static 'main/images/admin_colored.png' %}" alt="Admin">
                            <p>Admin Page</p>
                        </div>
                    </li>
                </a>
                {% endif %}
                <a href="{%url 'users:profile' user.profile.id %}">
                    <li>
                        <div class="profile">
                            <img src="{{user.profile.profile_img.url}}" alt="{{user.username}}">
                            <p>{{user.username}}</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <div>
                            <img src="{% static 'main/images/more.png' %}" alt="More">
                            <img class="colored" src="{% static 'main/images/more_colored.png' %}" alt="More_colored">
                            <p>More</p>
                        </div>
                    </li>
                </a>
                {% else %}
                <a href="{%url 'main:login' %}">
                    <li>
                        <div>
                            <p>Log In</p>
                        </div>
                    </li>
                </a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        <div class="page-title">
            <p>Home</p>
            <p>settings</p>
        </div>
        <div class="border"></div>
        {%block content%}{%endblock%}
    </main>
    <nav class="nav-right">
        <div class="searchbar">
            <div>

            </div>
        </div>
        <div class="trends">
            <div>

            </div>
        </div>
        <div class="suggestions">
            <div>

            </div>
        </div>

    </nav>

</body>

<script src=" {% static 'post/post.js' %}"></script>
<script src="{% static 'main/base.js' %}"></script>
<script src="{% static 'users/profile_update.js' %}"></script>
<script>
    var post_create_files = []
    var comment_create_files = []
    var csrf_token = "{{ csrf_token }}"
    var user_id = "{{user.id}}"
</script>
{% block script %}
{%endblock%}

</html>