{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load js %}
{% block link%}

<link rel="stylesheet" href="{% static 'post/post_style.css'%}">
{% endblock%}

{% block content %}
<div class="vote">
    <a href="{% url 'polls:index' %}">
        <button class="vote">GO VOTE</button>
    </a>
</div>

{%if user.is_authenticated%}
<div class="bg-danger posts col-8 offset-2 mt-3">
    <form class="post-create-form" method="POST" action="{% url 'post:post-list' %}">
        {% csrf_token %}
        <div class=" form-group">
            {{post_form}}
            <input class="d-none" type="text" name="parent" value="">
        </div>
        <button type="submit" class="post-create-button d-none btn btn-success">Publish</button>
    </form>
</div>
{%endif%}
{%comment%}
<!-- <script type="text/javascript">
    var someVar = {{ post.content| js }};
    console.log('LOG SOME VAR', someVar[0])
</script> -->
{%endcomment%}
<div id="posts" class="posts col-8 offset-2 mt-3"></div>

<div class="d-flex m-5 p-5" id="footer">
    <form method="POST">
        {% csrf_token %}
        <button class="load-post btn btn-danger" node=".posts" mode="append">LOAD POSTS BRUH</button>
    </form>
</div>
{% endblock content %}