{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load js %}
{% block link%}

{% endblock%}

{% block content %}


{%if user.is_authenticated%}


<div class="create-div">
    <div class="left">
        <div class="profile-img">
            <a href="{%url 'users:profile' user.profile.id %}"><img src="{{user.profile.profile_img.url}}"
                    alt="{{user.username}}"></a>
        </div>
    </div>

    <div class="right">
        <div class="create-group">
            <form action="" id="create-form" enctype="multipart/form-data"></form>
            <input id="create-input" form="create-form" class="create-input" type="text" name="content"
                autocomplete="off">
            <input class="d-none" form="create-form" type="text" name="parent" value="">
            <label for="content">
                <span>What's on your mind?</span>
            </label>
        </div>

        <div class="create-images" id="create-images">
        </div>

        <div class="bar">
            <div class="inputs icon-set">
                <div class="hover add-image">
                    <label for="post-img-input">
                        <img src=" {% static 'main/images/image_input.png' %}" alt="image_input">
                    </label>
                    <input class="input-files" id="post-img-input" type="file" name="img" accept="image/*" required=""
                        multiple>
                </div>
                <div class="hover">
                    <img src="{% static 'main/images/twitter_colored.png' %}" alt="twitter">
                </div>
                <div class="hover">
                    <img src="{% static 'main/images/twitter_colored.png' %}" alt="twitter">
                </div>
            </div>

            <div class="create-button-div">

                <button class="create" id="create" url="{% url 'api:post-list' %}" post_id={{post.id}} parent=""
                    author="{{user.id}}">Publish</button>
            </div>
        </div>
    </div>
</div>

</div>
{%endif%}
<div id="posts" class="posts" url="{% url 'api:post-posts-ids' %}"></div>
<div class="footer" id="footer">
</div>
{% endblock content %}
{% block script %}
<script>
    var id_list = apiRequest($('#posts').attr('url'), 'GET');
    loadPosts(id_list, 8, 'posts');
    createPostListener($("#create"), "create-form");
    togglePublishButton('create', "create-input")
    addImage('#post-img-input')
    scrollLoad(id_list, 3, 'posts')
</script>
{%endblock%}