:root{
    overflow-x: hidden;
}
body { 
    background-color: #f7f7f7;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: rgba(250,50, 50, 0.7);
}
body::-webkit-scrollbar-thumb {
    background: rgba(50,250, 50, 0.7);
}