{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% load humanize %}
{% block link %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/base_style.css'%}">
<link rel="stylesheet" href="{% static 'main/home_style.css'%}">
<link rel="stylesheet" href="{% static 'post/post_style.css'%}">
<link rel="stylesheet" href="{% static 'users/profile_style.css'%}">
{% endblock %}


{% block content %}
<div class="profile-update-modal modal">
    <div class="profile-update-modal-content modal-content">
        <div class="profile-update-modal-close modal-close">+</div>
        <form method="POST" class="profile-update-form" enctype="multipart/form-data"
            action="{%url 'users:profile_update' profile.id%}" novalidate="">
            {% csrf_token %}
            {{update_form|crispy}}
            <button type="submit" class="profile-update-save-button btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="background"></div>
<div class="profile">
    <div class="data">

        <div class="top">
            <div class="profile-img">
                <div class="img-border">
                    <img id='prof-pic' src="{{profile.profile_img.url}}" alt="profile_img">
                </div>
            </div>

            <div class="profile-update">
                <Button>
                    <p>Edit profile</p>

                </Button>
            </div>
        </div>

        <div class="bot">
            <div class="info">
                <div class="alias">
                    <p>{{profile.alias}}</p>
                </div>
                <div class="username">
                    <p>@{{profile.user.username}}</p>
                </div>
                <div class="bio">
                    <p>{{profile.description}}</p>
                </div>
                <div class="joined">
                    <p>Joined {{profile.join_timestamp}}</p>
                </div>
                <div class="follow">
                    <div class="following">
                        <p>Following</p>
                        <p class="count">{{profile.following.count}}</p>
                    </div>
                    <div class="followers">
                        <p>Followers</p>
                        <p class="count"> {{profile.followers_set.all.count}}</p>

                    </div>
                </div>
            </div>

            <div class="nav-bot">
                <div class="user-posts">
                    <span>Posts</span>
                </div>

                <div class="user-replies">
                    <div class="span">
                        <span>Replies</span>
                    </div>
                </div>

                <div class="user-media">
                    <div class="span">
                        <span>Media</span>
                    </div>
                </div>

                <div class="user-likes">
                    <div class="span">
                        <span>Likes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="posts"></div>
</div>
</a>


{% endblock content %}
{% block script%}
<script>
    ProfileUpdateInfo()
    imagePreviewListener(document.getElementById("prof-pic"))
</script>
{% endblock %}