{% extends 'main/base.html' %}
{%load static%}
{% load humanize %}
{% block link %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'users/profile_style.css'%}">
{% endblock %}



{% block content %}
<ul>
    <div class="user_info">
        <img class="profile_profile_pic" src="{{profile.profile_pic.url}}" alt="profile_pic"> 
        <li><h2>{{profile.user.username}}</h2></li>
        <li><h2>{{profile.user.email}}</h2></li>
        <li><h2>{{profile.user.chuj}}</h2></li>
        
        {% for post in posts %}
        <div class="posts bg-dark text-white pt-2 mt-3">
            <a class="overlay" href="{% url 'post:post_detail' post.id %}">
                <div class="post mt-2">
                    <div class="post-nav mt-2">
                        <img class = "profile_pic ml-2" src="{{post.author.profile.profile_pic.url}}"></img>
                        <div class="mt-2">
                            <a href="{%url 'users:profile' post.author.profile.id %}" class="ml-2">{{post.author}}</a>
                            <h5 class="timestamp ml-2">{{post.timestamp|naturaltime}}</h5>
                        </div>
                        <button type="button" class="ml-2 btn btn-outline-success btn-sm">{{post.likes.count}} Likes</button>
                        {% if user.id == profile.user.id %}
                        <button type="button" class="ml-2 btn btn-outline-primary btn-sm">Edit</button>
                        <button type="button" class="ml-2 btn btn-outline-danger btn-sm">Delete</button>
                        {% endif %}
                        <div class="bg-white">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                            <div class="dot3"></div>
                        </div>
                    </div>
                    <div class="ml-4 mt-2">
                        {% if not post.should_snippet %}
                            <p id="post-content">{{post.snippet}}</p> <p id="show-more">show more...</p>
                        {% else %}
                            <p id="post-content">{{post.content}}</p>
                        {%endif%}
        
                        <script>
                            document.getElementById("show-more").onclick = function(){
                                document.getElementById("show-more").innerHTML="";
                                document.getElementById("post-content").innerHTML = "{{post.content}}";
                            };
                            
                        </script>
                    </div>            
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</ul>
{% endblock %}