{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% load humanize %}
{% block link %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/base_style.css'%}">
<link rel="stylesheet" href="{% static 'main/home_style.css'%}">
<link rel="stylesheet" href="{% static 'post/post_style.css'%}">
<link rel="stylesheet" href="{% static 'users/profile_style.css'%}">
{% endblock %}


{% block content %}
<div class="profile-update-modal modal">
    <div class="profile-update-modal-content modal-content">
        <div class="profile-update-modal-close modal-close">+</div>
        <form method="POST" class="profile-update-form" enctype="multipart/form-data"
            action="{%url 'users:profile_update' profile.id%}" novalidate="">
            {% csrf_token %}
            {{update_form|crispy}}
            <button type="submit" class="profile-update-save-button btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="background"></div>
<div class="profile">
    <div class="profile-data">
        <div class="top">
            <div class="profile-img">
                <div class="img-border">
                    <img id='prof-pic' src="{{profile.profile_img.url}}" alt="profile_img">
                </div>
            </div>
            {%if profile.user == user %}
            <div class="profile-update">
                <Button>
                    <p>Edit profile</p>
                </Button>
            </div>
            {%else%}
            <div class="profile-follow">
                <button>
                    <p>Follow</p>
                </button>
            </div>
            {%endif%}
        </div>

        <div class="bot">
            <div class="info">
                <div class="name">
                    <div class="alias">
                        <p>{{profile.alias}}</p>
                    </div>

                    <div class="username">
                        <p>@{{profile.user.username}}</p>
                    </div>
                </div>

                <div class="bio">
                    <p>{{profile.description}}</p>
                </div>
                <div class="joined">
                    <p>Joined {{post.author.profile.join_timestamp}}</p>
                </div>
                <div class="follow">
                    <div class="following">
                        <p>Following</p>
                        <p class="count">{{profile.following.count}}</p>
                    </div>

                    <div class="followers">
                        <p>Followers</p>
                        <p class="count"> {{profile.followers_set.all.count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-bot">
        <div class="switch-content" id="user-posts-button" div="user-posts">
            <span>Posts</span>
        </div>

        <div class="switch-content" id="user-replies-button" div="user-replies">
            <div class="span">
                <span>Replies</span>
            </div>
        </div>

        <div class="switch-content" id="user-media-button" div="user-media">
            <div class="span">
                <span>Media</span>
            </div>
        </div>

        <div class="switch-content" id="user-likes-button" div="user-likes">
            <div class="span">
                <span>Likes</span>
            </div>
        </div>
    </div>
</div>

<div class="posts">
    <div id="user-posts" url="{% url 'api:user-posts' profile.user.id %}"></div>
    <div id="user-replies" url="{% url 'api:user-replies' profile.user.id %}"></div>
    <div id="user-media" url="{% url 'api:user-media' profile.user.id %}"></div>
    <div id="user-likes" url="{% url 'api:user-likes' profile.user.id %}"></div>
</div>


{% endblock content %}
{% block script%}
<script>
    let buttons = document.getElementsByClassName("switch-content")
    for (const button of buttons) $(button).on('click', function (click, kek) {
        let button = $(click.target).closest('.switch-content')
        let div_id = button.attr('div')
        let div = $("#" + div_id)
        if (div.children().length) return
        $('.posts').children().each((index, el) => {
            $(el).empty()
        })
        $('.switch-content').removeClass('clicked')
        button.toggleClass('clicked')
        let url = div.attr('url')
        let ids = apiRequest(url, 'get')
        loadPosts(ids, 5, div_id)
    })
    ProfileUpdateInfo()
    imagePreviewListener(document.getElementById("prof-pic"))
    $('#user-posts-button').click()
</script>
{% endblock %}