.background{
    width: 100%;
    height: 200px;
    background-color: rgba(51, 103, 172, 0.1);
}
.profile .profile-data{
    padding: 15px;
}
.profile .profile-data .top{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.profile .profile-data .profile-img{
    position: absolute;
    width:fit-content;
    top:-150px;
    left: 0;
    height: fit-content;
    background-color: white;
    border-radius: 100%;
    border: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
}
.profile .profile-data .profile-img .img-border{
    border-radius: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
}
.profile  .profile-data .profile-img img{
    border-radius: 100%;
    border: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    transition: 0.1s ease-in;
    object-fit: cover;
}
.profile .profile-data .profile-img img{
    margin: 5px;
    width:200px;
    height:200px;
}

.profile .profile-data .alias{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 25px;
}

.profile-update, .profile-follow{
    justify-content: center;
    align-items: center;
    border-color: rgb(54, 154, 230);
    color: rgb(54, 154, 230);;
    padding-left: 15px;
    padding-right: 15px;
    border:solid;
    border-radius: 25px;
    border-width: 1px;
    width: fit-content;
    height: fit-content;

}

.profile-update button,.profile-follow button{
    border-radius: 25px;
    outline:none;
    width: fit-content;
    height: 50px;
    color: rgb(54, 154, 230);
}
.profile .nav-bot .switch-content{
    color: rgba(50, 55, 77, 0.7);
    transition: 0.1s ease-in;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: solid;
    border-bottom-width:2px;
    border-bottom-color: white;
}
.profile .nav-bot .switch-content:hover{
    cursor: pointer;
    background-color: rgba(54, 154, 230, 0.12);
    border-bottom-color: rgba(54, 154, 230, 0.0);
}
.profile .switch-content.clicked{
    border-bottom-color: rgb(54, 154, 230);
}
.profile .switch-content.clicked:hover{
    border-bottom-color: rgb(54, 154, 230);
}

.profile .switch-content.clicked span{
    color: rgb(54, 154, 230);
}




.profile-data .info{
    font-weight: 500;
    font-size: 18px;
    color: rgba(40, 52, 105, 0.7);
}
.profile-data .info >div{
    margin-bottom: 4px;
}
.profile-data .info .name{
    padding-bottom: 8px;
}
.profile-data .follow{
    display: flex;
}
.profile-data .follow .following,.profile .follow .folowers{
    display: flex;
    padding-right: 15px;
}
.profile-data .follow p{
    padding-right: 10px;
}
.profile-data .follow .count{
    font-weight: 700;
    color: rgba(40, 52, 105, 0.9);    
}
.profile-data button{
    background-color: #fff0;
    border: none;
    transition: 0.1s ease-in;
    font-weight: 700;
    font-size:20px;
}
.profile-data .profile-update:hover,
.profile-data .profile-follow:hover{
    background-color: rgba(54, 154, 230, 0.12);
}
.profile-data .bot{
    margin-top: 10px;
}
.profile-data .bot .info{
    margin-bottom: 15px
}
.profile .nav-bot{
    padding:0;
}