.profile-profile-img{
    object-fit: cover;
    width:250px;
    height:250px;
    background-color: white;
    border: thin;
}
.user-info li{
    list-style: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    
}
