{% load humanize %}

<div class="comment" id="comment-{{comment.id}}">
    <div class="left">
        <div class="profile-img">
            <img src=" {{comment.author.profile.profile_img.url}}" alt="{{post.author}}">
        </div>
        <div class="placeholder"></div>
    </div>

    <div class="right">
        <div class="content" id="content-{{comment.id}}">
            <p>
                <a class=" font-weight-bold" href="{%url 'users:profile' comment.author.profile.id %}">
                    @{{comment.author}} </a>{{comment.content}}</p>
        </div>

        {% if post.author == user%}
        <div class="edit-group" id="edit-group-{{comment.id}}">
            <form class="form-group edit-form" method="POST" post_id="{{comment.id}}"
                action="{% url 'post:post_update' comment.id %}" id="edit-form-{{comment.id}}">
                {% csrf_token %}
                <input class="form-control " name="content" class="m-2" value="{{comment.content}}" type="text"
                    maxlength=" 300" required id="input-{{comment.id}}" form="form-{{comment.id}}">
                <input name="id" value="{{comment.id}}" class="d-none">
                <div class="edit-form-button">
                    <button type="submit" class="edit-button btn btn-primary" post_id={{post.id}}
                        id="save-button-{{post.id}}">Save</button>
                </div>
            </form>
        </div>
        {%endif%}

        <div class="nav d-flex justify-content-around">
            <div class="like">
                <form class="like-form" id="like-form-{{comment.id}}" action="{% url 'post:post-like' comment.id %}"
                    post_id="{{comment.id}}" method="POST">
                    {% csrf_token %}
                    <button type="submit" id="like-button-{{comment.id}}"
                        is-liked="{% url 'post:post-like' comment.id %}"
                        class="like-button ml-2 btn btn-outline-success btn-sm" likes-count="{{comment.likes.count}}">
                        {{comment.likes.count}} Like{{comment.likes.count|pluralize}}
                    </button>
                </form>
            </div>

            <div class="reply">
                <a>Reply</a>
            </div>

            <div class="timestamp">
                <p>{{comment.timestamp|naturaltime}}</p>
            </div>
            {% if comment.author == user or post.author == user %}

            <div class="delete">
                <form class="delete-form" method="POST" post_id={{comment.id}} id="delete-form-{{comment.id}}"
                    action="{%url 'post:post_delete' comment.id %}">
                    {% csrf_token %}
                    <button type="submit" class=" ml-2 btn btn-outline-danger btn-sm">Delete</button>
                </form>
            </div>
            {%endif%}
            {% if comment.author == user %}
            <div class="edit">
                <button class="edit-button ml-2 btn btn-sm btn-outline-primary" type="submit"
                    id="edit-button-{{comment.id}}" post_id={{comment.id}}>Edit</button>
            </div>
            {%endif%}

        </div>
    </div>
</div>