{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load js %}
{% block link%}


{% endblock%}

{% block content %}

<div class="post-detail">
    {% include 'post/post_template.html' with post=post comments=comments user=user %}
</div>
<div class="posts" id="comments" post_id={{post.id}} url="{% url 'api:post-comments-ids' post.id%}">


</div>
{% endblock%}
{% block script%}
<script>
    function postDeleted(post_id) {
        window.location.href = '/home'
    }
    var post_id = $('#comments').attr('post_id')
    var id_list = apiRequest($('#comments').attr('url'), 'GET');
    console.log(id_list)
    loadPosts(id_list, 8, 'comments');
    likePostListener(post_id);
    deletePostListener(post_id);
    commentPostListener(post_id)
    toggleDropdown(post_id);

</script>

{% endblock%}