{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load js %}
<div class="post" id="post-{{post.id}}" href="{% url 'post:post_detail' post.id %}">
    <div class="left">
        <div class="profile-img">
            <a href="{%url 'users:profile' post.author.profile.id %}">
                <img src="{{post.author.profile.profile_img.url}}" alt="{{post.author.username}}">
            </a>
        </div>
    </div>
    <div class="right">

        <nav class="nav-top">
            <div class="info">
                <div>
                    <a class="alias"
                        href="{%url 'users:profile' post.author.profile.id %}">{{post.author.profile.alias}}</a>
                    <div class="profile-snippet">
                        <div class="profile-data">
                            <div class="top">
                                <div class="profile-img">
                                    <img id='prof-pic' src="{{post.author.profile.profile_img.url}}" alt="profile_img">
                                </div>
                                {%if post.author != user %}
                                <div class="profile-follow">
                                    <button>
                                        <p>Edit profile</p>
                                    </button>
                                </div>
                                {%endif%}
                            </div>

                            <div class="bot">
                                <div class="snippet-info">
                                    <div class="name">
                                        <div class="alias">
                                            <a href="{%url 'users:profile' post.author.profile.id %}">
                                                <p>{{post.author.profile.alias}}</p>
                                            </a>
                                        </div>
                                        <div class="username">
                                            <p>@{{post.author.username}}</p>
                                        </div>
                                    </div>
                                    <div class="bio">
                                        <p>{{post.author.profile.description}}</p>
                                    </div>

                                    <div class="follow">
                                        <div class="following">
                                            <p>Following</p>
                                            <p class="count">{{post.author.profile.following.count}}</p>
                                        </div>
                                        <div class="followers">
                                            <p>Followers</p>
                                            <p class="count"> {{post.author.profile.followers_set.all.count}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="username">@{{post.author}}</p>
                <p class="timestamp-dot">•</p>
                <p class="timestamp">{{post.timestamp|naturaltime}}</p>
            </div>


            <div class="options" id="options-{{post.id}}">
                <div class="dots">
                    <div class=" dot1"></div>
                    <div class="dot2"></div>
                    <div class="dot3"></div>
                </div>

                <div class="dropdown hover" id="dropdown-{{post.id}}">
                    {% if user == post.author %}
                    <div class="delete option" id='delete-{{post.id}}' url="{% url 'api:post-delete' post.id %}"
                        post_id={{post.id}}>
                        <div>
                            <img src="{% static 'main/images/delete.png' %}" alt="delete">
                            <p>Delete</p>
                        </div>
                    </div>
                    <div class="option edit" id="edit-{{post.id}}" url="{% url 'api:post-list' post.id %}"
                        post_id={{post.id}} method="POST">
                        <div>
                            <img src="{% static 'main/images/edit.png' %}" alt="edit" form="edit-form-{{post.id}}">
                            <p>Edit</p>
                        </div>
                    </div>
                    <div class="option">
                        <div>
                            <img src="{% static 'main/images/pin.png' %}" alt="pin">
                            <p>Pin to your profile</p>
                        </div>
                    </div>
                    {% else %}
                    {% if post.author in user.following %}
                    <div class="option">
                        <div>
                            <div>
                                <img src="{% static 'main/images/follow.png' %}" alt="follow">
                            </div>
                            <p>Follow @{{post.author}}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="option">
                        <div>
                            <div>
                                <img src="{% static 'main/images/unfollow.png' %}" alt="unfollow">
                            </div>
                            <p>Stop following @{{post.author}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="option">
                        <div>
                            <img src="{% static 'main/images/mute.png' %}" alt="mute">
                            <p>Mute</p>
                        </div>
                    </div>
                    <div class="option">
                        <div>
                            <img src="{% static 'main/images/block.png' %}" alt="block">
                            <p>Block</p>
                        </div>
                    </div>
                    <div class="option">
                        <div>
                            <img src="{% static 'main/images/report.png' %}" alt="report">
                            <p>Report {{post.author}}</p>
                        </div>
                    </div>
                    <div class="option">
                        <div>
                            <img src="{% static 'main/images/report.png' %}" alt="report">
                            <p>Report post</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="content" id="content-div-{{post.id}}">
                <p id="content-{{post.id}}">{{post.content}}</p>
            </div>
            <div class="post-images">
                {% for img in post.images.all %}
                <div class="post-image">
                    <img class="image" src="{{ img.image.url }}" alt="post_image">
                </div>
                {% endfor %}
            </div>
            {% if post.author == user %}

            <div class="d-none edit-group" id="edit-group-{{post.id}}">
                <form class="form-group edit-form" method="POST" post_id="{{post.id}}"
                    action="{% url 'post:post_update' post.id %}" id="edit-form-{{post.id}}">
                    {% csrf_token %}
                    <input class="form-control " name="content" class="m-2" value="{{post.content}}" type="text"
                        maxlength=" 300" required id="input-{{post.id}}"">
                    <input name=" id" value="{{post.id}}" class="d-none">
                    <div class="edit-form-button">
                        <button type="submit" class="save-button btn btn-primary" post_id={{post.id}}
                            id="save-button-{{post.id}}">
                            Save
                        </button>
                    </div>
                </form>
            </div>
            {%endif%}

        </div>

        <nav class="nav-bot icon-set hover-set">
            <div class="like-div">
                <div class="like hover" id='like-{{post.id}}' method="POST" url="{%url 'api:post-like' post.id %}"
                    likes-count="{{post.likes.count}}" post_id={{post.id}} liked='false'>
                    <img src=" {% static 'main/images/like.png' %}" alt="like">
                    <img class="colored" src="{% static 'main/images/like_colored.png' %}" alt="like_colored">
                    <img class="liked" src="{% static 'main/images/like_liked.png' %}" alt="like_liked">
                </div>
                <p>{{post.likes.count}}</p>
            </div>

            <div class="comment" id="comment-{{post.id}}"" url=" {% url 'post:comment_modal_template' post.id %}">
                <div class="hover" id='comment-{{post.id}}' post_id={{post.id}}>
                    <img src="{% static 'main/images/comment.png' %}" alt="comment">
                    <img class="colored" src="{% static 'main/images/comment_colored.png' %}" alt="comment_colored">
                </div>
                <p>{{post.comments.all.count}}</p>
            </div>

            <div class="share">
                <div class="hover" id='share-{{post.id}}' post_id={{post.id}}>
                    <img src="{% static 'main/images/share.png' %}" alt="share">
                    <img class="colored" src="{% static 'main/images/share_colored.png' %}" alt="share_colored">
                </div>
                <p>0</p>
            </div>
    </div>
</div>